@model Aluno

@{
    ViewData["Title"] = "Detalhes do aluno";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlunoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlunoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataMatricula)
        </dd>
        <p>
            <h5><a asp-controller="Inscricao" asp-action="Create" asp-route-alunoId="@Model.AlunoId">Gerenciar inscrições</a></h5>
        </p>
        <dt class="col-sm-2">
            Turmas
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Disciplina)</th>
                    <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Horario)</th>
                    <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Professor)</th>
                    <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Semestre)</th>
                    <th>@Html.DisplayNameFor(model => model.Inscricoes.First().NotaFinal)</th>
                    <th>@Html.DisplayNameFor(model => model.Inscricoes.First().DataInscricao)</th>
                    <th></th>
                </tr>
                @foreach (var inscricao in Model.Inscricoes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Disciplina.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Horario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Professor.NomeCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Semestre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.NotaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.DataInscricao)
                        </td>
                        <td>
                            <a asp-controller="Turma" asp-action="Details" asp-route-id="@inscricao.Turma.TurmaId">Ver turma</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlunoId" class="btn btn-default">Editar</a>
    <a asp-action="Index">Voltar</a>
</div>
