@model Aluno

@{
    ViewData["Title"] = "Turmas e detalhes do aluno";
}

<h2>@ViewData["Title"]</h2>



<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.AlunoId)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.AlunoId)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.NomeCompleto)
    </dt>
    <dd class="col-10 h4">
        @Html.DisplayFor(model => model.NomeCompleto)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.DataMatricula)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.DataMatricula)
    </dd>
</dl>

<div>
    <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@Model.AlunoId" class="bn btn-default">Editar aluno</a>
</div>

<div>
    <a class="btn btn-primary btn-lg my-3" asp-controller="Inscricao" asp-action="Create" asp-route-alunoId="@Model.AlunoId">Gerenciar inscrições</a>
</div>

<div>
    <dl>
        <dt>
            Turmas
        </dt>
        <dd>
            <table class="table table-secondary table-hover">
                <thead class="table-active">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Disciplina)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Horario)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Professor)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Turma.Semestre)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().NotaFinal)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().DataInscricao)</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var inscricao in Model.Inscricoes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Disciplina.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Horario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Professor.NomeCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Turma.Semestre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.NotaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.DataInscricao)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-info mx-1" asp-controller="Turma" asp-action="Details" asp-route-id="@inscricao.Turma.TurmaId">Ver turma</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary mx-2" asp-action="Index">Voltar</a>
</div>
