@* @model IEnumerable<Aluno> *@

@model Curso_Idiomas.Models.ViewModels.AlunoViewModel

@{
    ViewData["Title"] = "Alunos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar novo aluno</a>
</p>

<form asp-action="Index" method="get">
    <div>
        <p>
            Filtrar por
            <select name="filtroEscolhido" asp-for="FiltroEscolhido" asp-items="Model.OpcoesFiltro"></select>:

            <input type="text" name="conteudoFiltro" value="@Model.ConteudoFiltro" />

            <input type="submit" value="Buscar" /> |

            <a asp-action="Index">Remover filtro</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemNome"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro"> @Html.DisplayNameFor(model => model.Alunos.First().Nome)</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemSobrenome"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro"> @Html.DisplayNameFor(model => model.Alunos.First().Sobrenome)</a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Alunos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AlunoId">Turmas: @item.Inscricoes.Count</a> |
                    <a asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlunoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
