@* @model IEnumerable<Aluno> *@

@model Curso_Idiomas.Models.ViewModels.AlunoViewModel

@{
    ViewData["Title"] = "Alunos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary btn-lg" asp-action="Create">Criar novo aluno</a>
</p>

<form asp-action="Index" method="get">
    <div>
        <p>
            Filtrar por
            <select class="mx-1" name="filtroEscolhido" asp-for="FiltroEscolhido" asp-items="Model.OpcoesFiltro"></select>:

            <input class="mx-1" type="text" name="conteudoFiltro" value="@Model.ConteudoFiltro" />

            <input type="submit" value="Buscar" /> |

            <a class="mx-1" asp-action="Index">Remover filtro</a>
        </p>
    </div>
</form>

<table class="table table-secondary table-hover">
    <thead class="table-active">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemMatricula">
                    @Html.DisplayNameFor(model => model.Alunos.First().AlunoId)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemNome"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro">
                    @Html.DisplayNameFor(model => model.Alunos.First().Nome)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemSobrenome"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro">
                    @Html.DisplayNameFor(model => model.Alunos.First().Sobrenome)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemEmail">
                    @Html.DisplayNameFor(model => model.Alunos.First().Email)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemDataMatricula">
                    @Html.DisplayNameFor(model => model.Alunos.First().DataMatricula)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemTurmas">
                    Turmas
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Alunos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlunoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataMatricula)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-info px-4" asp-action="Details" asp-route-id="@item.AlunoId">@item.Inscricoes.Count</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-info mx-1" asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a>
                    <a class="btn btn-sm btn-outline-danger mx-1" asp-action="Delete" asp-route-id="@item.AlunoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
