@model Professor

@{
    ViewData["Title"] = "Turmas e detalhes do professor";
}

<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.ProfessorId)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.ProfessorId)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.NomeCompleto)
    </dt>
    <dd class="col-10 h4">
        @Html.DisplayFor(model => model.NomeCompleto)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.DataContratacao)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.DataContratacao)
    </dd>
</dl>

<div>
    <a class="btn btn-sm btn-outline-primary my-3" asp-action="Edit" asp-route-id="@Model.ProfessorId" class="btn btn-default">Editar professor</a>
</div>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Turmas)
        </dt>
        <dd>
            <table class="table table-secondary table-hover">
                <thead class="table-active">
                    <tr>
                        <th>Disciplina</th>
                        <th>Horário</th>
                        <th>Semestre</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var turma in Model.Turmas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Disciplina.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Horario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Semestre)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-info mx-1" asp-controller="Turma" asp-action="Details" asp-route-id="@turma.TurmaId">Ver turma</a>
                        </td>

                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-secondary mx-2" asp-action="Index">Voltar</a>
</div>
