@model Turma

@{
    ViewData["Title"] = @Model.Disciplina.Nome + " | " + @Model.Horario;
}

<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Professor)
    </dt>
    <dd class="col-10 h4">
        @Html.DisplayFor(model => model.Professor.NomeCompleto)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Semestre)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Semestre)
    </dd>
</dl>

<div>
    <dl>
        <dt>
            Alunos
        </dt>
        <dd>
            <table class="table table-secondary table-hover">
                <thead class="table-active">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().Aluno.NomeCompleto)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().NotaFinal)</th>
                        <th>@Html.DisplayNameFor(model => model.Inscricoes.First().DataInscricao)</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var inscricao in Model.Inscricoes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.Aluno.NomeCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.NotaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => inscricao.DataInscricao)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-info mx-1" asp-controller="Aluno" asp-action="Details" asp-route-id="@inscricao.Aluno.AlunoId">Ver aluno</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary mx-2" asp-action="Index">Lista de turmas</a>
</div>
