@model Curso_Idiomas.Models.ViewModels.TurmaViewModel

@{
    ViewData["Title"] = "Turmas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar nova turma</a>
</p>

<form asp-action="Index" method="get">
    <div>
        <p>
            Filtrar por
            <select name="filtroEscolhido" asp-for="FiltroEscolhido" asp-items="Model.OpcoesFiltro"></select>:

            <input type="text" name="conteudoFiltro" value="@Model.ConteudoFiltro" />

            <input type="submit" value="Buscar" /> |

            <a asp-action="Index">Remover filtro</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemDisciplina"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro"> @Html.DisplayNameFor(model => model.Turmas.First().Disciplina)</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemHorario"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro"> @Html.DisplayNameFor(model => model.Turmas.First().Horario)</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemProfessor"
                   asp-route-filtroEscolhido="@Model.FiltroEscolhido"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro"> @Html.DisplayNameFor(model => model.Turmas.First().Professor)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turmas.First().Semestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Turmas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disciplina.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.NomeCompleto)                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestre)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TurmaId">Alunos: @item.Inscricoes.Count</a> |
                    <a asp-action="Edit" asp-route-id="@item.TurmaId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurmaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
