@model IEnumerable<Turma>

@{
    ViewData["Title"] = "Turmas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disciplina.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Nome)
                    @Html.DisplayFor(modelItem => item.Professor.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurmaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TurmaId">Turmas</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurmaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
