@model Curso_Idiomas.Models.ViewModels.InscricaoViewModel

@{
    ViewData["Title"] = "Gerenciar inscrições";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Aluno.AlunoId)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Aluno.AlunoId)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Aluno.NomeCompleto)
        </dt>
        <dd class="col-10">
            <h4>@Html.DisplayFor(model => model.Aluno.NomeCompleto)</h4>
        </dd>
    </dl>
    <dl>
        <dt class="h5">
            Todas as turmas
        </dt>
        <dd>
            <table class="table table-secondary table-hover">
                <thead class="table-active">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Turmas.First().Disciplina)</th>
                        <th>@Html.DisplayNameFor(model => model.Turmas.First().Horario)</th>
                        <th>@Html.DisplayNameFor(model => model.Turmas.First().Professor)</th>
                        <th>@Html.DisplayNameFor(model => model.Turmas.First().Semestre)</th>
                        <th>@Html.DisplayNameFor(model => model.Turmas.First().Inscricoes.First().NotaFinal)</th>
                        <th>@Html.DisplayNameFor(model => model.Turmas.First().Inscricoes.First().DataInscricao)</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var turma in Model.Turmas)
                {
                    string rowClass = "";
                    @if (Model.TurmasInscritas.Contains(turma))
                    {
                        rowClass = "table-info";
                    }

                    <tr class="@rowClass">
                        <td>
                            @Html.DisplayFor(modelItem => turma.Disciplina.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Horario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Professor.NomeCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Semestre)
                        </td>
                        @if (Model.TurmasInscritas.Contains(turma))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => turma.Inscricoes.First(a => a.AlunoId == Model.Aluno.AlunoId).NotaFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => turma.Inscricoes.First(a => a.AlunoId == Model.Aluno.AlunoId).DataInscricao)
                            </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                        <td>
                            <form method="post" asp-action="Create">

                                <input type="hidden" name="alunoId" value="@Model.Aluno.AlunoId" />
                                <input type="hidden" name="turmaId" value="@turma.TurmaId" />

                                @if (Model.TurmasInscritas.Contains(turma))
                                {
                                    <input type="hidden" name="operacao" value="excluir" />
                                    <input class="btn btn-danger" type="submit" value="Cancelar inscrição">
                                }
                                else
                                {
                                    <input type="hidden" name="operacao" value="criar" />
                                    <input class="btn btn-primary" type="submit" value="Inscrever" />
                                }

                            </form>

                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary mx-2" asp-controller="Aluno" asp-action="Details" asp-route-id="@Model.Aluno.AlunoId">Voltar</a>
</div>
