@model Disciplina

@{
    ViewData["Title"] = @Model.Nome;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Turmas)
        </dt>
        <dd>
            <table class="table table-secondary table-hover">
                <thead class="table-active">
                    <tr>
                        <th>Horário</th>
                        <th>Professor</th>
                        <th>Semestre</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var turma in Model.Turmas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Horario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Professor.NomeCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => turma.Semestre)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-info mx-1" asp-controller="Turma" asp-action="Details" asp-route-id="@turma.TurmaId">Ver turma</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary mx-2" asp-action="Index">Voltar</a>
</div>
