@model Curso_Idiomas.Models.ViewModels.DisciplinaViewModel

@{
    ViewData["Title"] = "Disciplinas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary btn-lg" asp-action="Create">Criar nova disciplina</a>
</p>

<form>
    <div>
        <p>
            Filtrar:
            <input class="mx-1" type="text" name="conteudoFiltro" value="@Model.ConteudoFiltro" />

            <input type="submit" value="Buscar" /> |

            <a asp-action="Index">Remover filtro</a>
        </p>
    </div>
</form>

<table class="table table-secondary table-hover">
    <thead class="table-active">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemNome"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro">
                    @Html.DisplayNameFor(model => model.Disciplinas.First().Nome)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-ordem="@Model.OrdemTurmas"
                   asp-route-conteudoFiltro="@Model.ConteudoFiltro">
                    Turmas
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Disciplinas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-info px-4" asp-action="Details" asp-route-id="@item.DisciplinaId">@item.Turmas.Count</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-info mx-1" asp-action="Edit" asp-route-id="@item.DisciplinaId">Editar</a>
                    <a class="btn btn-sm btn-outline-danger mx-1" asp-action="Delete" asp-route-id="@item.DisciplinaId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
